<div class="content">
  <div class="write-place">
    <div class="write-place-area">
      <textarea placeholder="Write a message..."></textarea>
      <div class="write-place-line"></div>
    </div>
    <div class="file-message">
      <div class="audio-message">
      <img src="https://img.icons8.com/ios-glyphs/60/000000/microphone.png"/>
    </div>
      <div class="video-message"><img src="https://img.icons8.com/ios-glyphs/60/000000/video-record.png"/>
      </div>
    </div>
  </div>

</div>
